body {
    margin: 0;
    height: 2000px;
}

button{
    cursor: pointer;
}

#header {
    background-image: url('./images/home_header_image.webp');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75vh;
}

#title {
    width: fit-content;
    margin: auto;
    padding-top: 5px;
}

#header_title_logo {
    width: 90px;
}

#header_title {
    font-size: 70px;
    position: relative;
    bottom: 25px;
    font-family: 'Healthy Food', sans-serif;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
}
.scroll {
    animation: nav_appear .5s forwards;
}
@keyframes nav_appear {
    100% {
        background-color: white;
        box-shadow: 2px 2px 10px rgb(96, 96, 96);
    }
}

#nav_brand {
    margin: 2px 0 0 5px;
    align-items: center;
    width: fit-content;
    opacity: 0;
}

#nav_title_logo {
    width: 60px;
    margin-right: 10px;
}

#nav_title {
    font-size: 50px;
    font-family: 'Healthy Food', sans-serif;
    position: relative;
    bottom: 15px;
    color: #f44322;
    margin-right: auto;
}

#nav_btns {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.nav_btn {
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
    width: fit-content;
    margin-right: auto;
}

#signin_btn {
    background-color: rgb(235, 23, 0);
    color: white;
}
#signin_btn:hover {
    box-shadow: 1px 1px 5px black;
}

#signup_btn {
    background-color: white;
    color: rgb(96, 96, 96);
}
#signup_btn:hover {
    box-shadow: 1px 1px 5px black;
}