body {
    margin: 0;
}

button{
    cursor: pointer;
}

/* ------------------------------------- Header --------------------------------------- */

#header {
    background-image: url('./images/home_header_image.webp');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75vh;
}

#title {
    width: fit-content;
    margin: auto;
    padding-top: 5px;
}

#header_title_logo {
    width: 90px;
}

#header_title {
    font-size: 70px;
    position: relative;
    bottom: 25px;
    font-family: 'Healthy Food', sans-serif;
    color: white;
}

/* ----------------------------------- Nav Bar --------------------------------------- */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
}
.scroll {
    animation: nav_appear .5s forwards;
}
@keyframes nav_appear {
    100% {
        background-color: white;
        box-shadow: 2px 2px 10px rgb(96, 96, 96);
    }
}

#nav_brand {
    margin: 2px 0 0 5px;
    align-items: center;
    width: fit-content;
    opacity: 0;
}

#nav_title_logo {
    width: 60px;
    margin-right: 10px;
}

#nav_title {
    font-size: 50px;
    font-family: 'Healthy Food', sans-serif;
    position: relative;
    bottom: 15px;
    color: #f44322;
    margin-right: auto;
}

#nav_btns {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.nav_btn {
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 8px 10px;
    width: fit-content;
    margin-right: auto;
}

#signin_btn {
    background-color: rgb(235, 23, 0);
    color: white;
}
#signin_btn:hover {
    box-shadow: 1px 1px 5px black;
}

#signup_btn {
    background-color: white;
    color: rgb(96, 96, 96);
}
#signup_btn:hover {
    box-shadow: 1px 1px 5px black;
}

/* ---------------------------------------- Address Input -------------------------------------- */
#header_address_details {
    width: fit-content;
    margin: 10% auto;
    text-align: center;
}

#header_address_details > h1 {
    font-size: 40px;
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
    margin: 0;
}

#header_address_details > p {
    font-size: 15px;
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
    margin: 0;
}

#address_input_container {
    background-color: white;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
}

#address_input_container_location_symbol {
    width: 20px;
}

#address_input {
    font-size: 15px;
    width: 300px;
    outline: none;
    border: none;
}

#address_input_container_next_btn {
    font-size: 25px;
    font-weight: bold;
    background-color: #eb1700;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;padding-bottom: 4px;
}

/* --------------------------------------------------- Earners Section --------------------------------------------- */
#for_earners {
    width: 100vw;
}

#earners_option {
    display: flex;
    justify-content: space-between;
}

.earners_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin: 150px 0;
}

#delivery_container {
    margin-left: 300px; 
}

#merchant_container {
    margin-right: 300px;
}

.earners_btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
}
.earners_btn:hover {
    animation: btn_hover .3s forwards;
}
@keyframes btn_hover {
    100% {
        font-size: 25px;
    }
}

.earners_content_text {
    font-size: 18px;
    font-family: 'Helvetica';
    text-align: center;
}